<h1>Friends Posts</h1>
<% @posts.each do |post|    %>
	<% @friends.each do |friend| %>
		<%if post.user.id == friend.friend_id %>
			<button><%= link_to post.user.first_name + " " + post.user.last_name, post.user%> </button>
			<br>
			<%= post.content %>
			<%= post.created_at %>
			<button><%= link_to 'Comments', post_path(id: post.id) %> </button>
			<hr>
		<% end %>
	<% end %>
<% end %>
